body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

#debug {
  float: left;
  margin-left: 10px;
  width: 5px;
  overflow: show;
}

#container {
  float: left;
}

#target {
  margin: 0;
  padding: 0;
  display: inline;
}

.healthbar {
  position: absolute;
  background-color: #00FF00;
  border: 1px solid #AAAAAA;
  width: 50px;
  height: 5px;
}

#identify-player {
  display: none;
  position: absolute;
  width: 600px;
  height: 120px;
  border: 1px solid #000;
  top: 355px;
  left: 20px;   
  background-color: #fff; 
}

#identify-failed {
  display: none;
  clear: both;
}

#overlay {
  background-color: transparent;
  width: 90%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

#overlay div {
  pointer-events: all;
}

#inventory, #quests, #character {
  border: 1px solid #000;
  display: none;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 400px;
  height: 550px;
  background-color: #fff;
}


#inventory h3, #quests h3 {
  margin-left: 10px;
  margin-top: 10px;
}

#inventory-content, #quests-content {
  margin-top: 10px;
  margin-left: 10px;
}

#quest-started {
  display: none;
  position: absolute;
  width: 600px;
  height: 120px;
  border: 1px solid #000;
  top: 355px;
  left: 20px;   
  background-color: #fff;
}

#quest-started p {
  height: 80px;
  width: 500px;
  margin-top: 5px;
  margin-left: 5px;
  overflow: auto;
  float: left;
}

#quest-started img {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  width: 90px;
  height: 90px;
}

#quest-started-buttons {
  clear: both;
}

.button {
  cursor: pointer,
  color: #0000ff;
}

#quests-content .complete {
  color: #00FF00;
}

#quests-content .quest:not(.complete) {
  color: #FF0000;
}

#toolbar {
  float: right;
  width: 9%;
}

#toolbar div {
  width: 100%;
  height: 90px;
}

#toolbar div img{
  width: 100%;
  max-width: 95px;
  max-height: 95px;
}

#character {
  /*display: block */
}

#character-content {
  position: relative;
}

#character-content div {
  position: absolute;
  border: 1px solid #000;
}

#character-hat {
  top: 0px;
  left: 155px;
  width: 90px;
  height: 90px;
}
            
          
#character-weapon {
  left: 20px;
  top: 100px;
  width: 100px;
  height: 100px;
}


#character-body {
  left: 155px;
  top: 100px;
  width: 90px;
  height: 90px;
}

#character-belt {
  top: 200px;
  left: 155px;
  width: 90px;
  height: 20px;
}

#character-trousers {
  top: 230px;
  left: 155px;
  width: 90px;
  height: 90px;
}


#character-boots {
  top: 330px;
  left: 155px;
  width: 90px;
  height: 90px;
} 

          