body {
  margin: 0;
  padding: 0;
}

#debug {
  float: left;
  margin-left: 10px;
  width: 5px;
  overflow: show;
}

#target {
  margin: 0;
  padding: 0;
}

.healthbar {
  position: absolute;
  background-color: #00FF00;
  border: 1px solid #AAAAAA;
  width: 50px;
  height: 5px;
}

#identify-player {
  display: none;
  position: absolute;
  width: 600px;
  height: 120px;
  border: 1px solid #000;
  top: 355px;
  left: 20px;   
  background-color: #fff; 
}

#identify-failed {
  display: none;
  clear: both;
}


#quest-started {
  display: none;
  position: absolute;
  width: 600px;
  height: 120px;
  border: 1px solid #000;
  top: 355px;
  left: 20px;   
  background-color: #fff;
}

#quest-started p {
  height: 80px;
  width: 500px;
  margin-top: 5px;
  margin-left 5px;
  overflow: auto;
  float: left;
}

#quest-started img {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  width: 90px;
  height: 90px;
}

#quest-started-buttons {
  clear: both;
}

.button {
  cursor: pointer,
  color: #0000ff;
}
